@import "tailwindcss";

@theme {
  --color-custom-light: #f9f5f0;
  --color-custom-green: #344f1f;
  --color-custom-yellow: #f4991a;
  --color-custom-red: #d96868;
}

body {
  background-color: var(--color-custom-light);
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* hilangkan panah default pada input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}